body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}
.main-navigation {
  background-color: #ffffff;
}
/*.main-header-logo {
}*/
.main-menu {
  list-style: none;
  font-weight: 700;
}
.main-menu a{
  color: #333333;
}
.main-menu-link:hover,
.main-menu-link:focus {
  color: #81b3d2;
}
.main-menu-link:active {
  color: #b2b2b2
}
.main-menu-link.current {
  color: #766357
}
.welcome-graphics {
  min-height: 510px;
  width: 100%;
  background-image: url("../img/backgroundphoto.jpg");
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-h-black {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}
p {
  line-height: 26px;
}
.advantages-detail-text {
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages-h2-white {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
}
.advantages-list {
  list-style: none;
}
.advantages-detail-description.grey {
  background-color: #eeeeee;
}
.interesting {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}
/* форма */
.search-form-container {
  position: relative
}
.search-btn {
  margin-top: 35px
  margin-left: 140px
  font: inherit;
  font-size: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
  border: none;
  text-transform: uppercase;
  width: 568px;
}
.search-btn:hover,
.search-btn:focus {
  background-color: #604e43;
}
.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.search-form {
  position: absolute;
  width: 568px;
  background-color: #ffffff;
  box-shadow: 7px 7px 15px rgba(0,1,1,0.15);
  left: 50%;
  transform: translateX(-300px);
}
.date {
  line-height: 26px;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}
.date:hover,
.date:focus {
  color: #000000;
  background-color: #ebebeb;
}
.date:active {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-color: #e5e5e5;
}
.form-line label {
  font: inherit;
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
}
.search-form input {
  line-height: 26px;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}
.calendar {
  margin: 0 auto;
  font: inherit;
  width: 38px;
  height: 38px;
  font-size: 0;
  display: block;
  background-position: center;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}
.calendar:hover,
.calendar:focus {
  background-color: #ffffff;
}
.calendar:active {
  background-color: #81b3d2;

}
.date:hover,
.date:focus {
  color: #000000;
  background-color: #ebebeb;
}
.date:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-color: #e5e5e5;
}
.unit.field {
  line-height: 26px;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
}
.minus-btn {
  line-height: 26px;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}
.minus-btn:hover,
.minus-btn:focus {
  background-color: #ffffff;
}
.minus:active {
  background-color: #81b3d2;
}
.plus-btn {
  line-height: 26px;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}
.plus-btn:hover,
.plus-btn:focus {
  background-color: #ffffff;
}
.plus-btn:active {
  background-color: #81b3d2;
}
.find-btn {
  font: inherit;
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}
.find-btn:hover,
.find-btn:focus {
  background-color: #669ec0;
}
.find-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
/*Список гостиниц*/
.result {
    border-bottom: 1px solid #e5e5e5;
    display: flex;
}
.rating-result {
  margin-left: auto;
}
.rating-result-numb {
  color: #666666;
  background-color: #f2f2f2;
  padding: 4px 12px 5px 15px
}
.star {
  background-image: url("../img/star.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 18px;
  height: 17px;
}
.hotel-photo {
  padding: 30px 30px 25px 75px;
}
.name-hotel a{
  margin-top: 25px;
  margin-bottom: 6px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}
.name-hotel a:hover,
.name-hotel a:focus {
  color: #81b3d2
}
.name-hotel a:active {
  color: #b2b2b2
}
/*футер*/
.sedona-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.social-button {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  list-style: none;
}
.social-button-tw {
  background-image: url("../img/swtwitter.svg");
}
.social-button-tw:hover,
.social-button-tw:focus {
  background-color: #669ec0;
}
.social-button-tw:active {
  background-color: #5496bd;
}
.social-button-fb {
  background-image: url("../img/swfb.svg");
}
.social-button-fb:hover,
.social-button-fb:focus {
  background-color: #669ec0;
}
.social-button-fb:active {
  background-color: #5496bd;
}
.social-button-you {
  background-image: url("../img/swyoutube.svg");
}
.social-button-you:hover,
.social-button-you:focus {
  background-color: #669ec0;
}
.social-button-you:active {
  background-color: #5496bd;
}
.footer-copyright {
  background-image: url("../img/logo-htmlacademy.svg")
}
.button-copyright {
  width: 115px;
  height: 41px;
  fill: #231f20;
}
.button-copyright:hover,
.button-copyright:focus {
  fill: #81b3d2;
}
.button-copyright {
  fill: #bdbbbc;
}
